<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a New Listings:</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input placeholder="Add a catchy title" name="listing[title]" type="text" class="form-control" required>
                    <div class="valid-feedback">
                       Title Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" rows="5" cols="19" placeholder="Enter Description" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                       Please Enter a short description
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input placeholder="Please upload image" name="listing[image]" type="file" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input placeholder="1200" name="listing[price]" type="number" class="form-control" required>
                        <div class="invalid-feedback">
                            Price Should be valid!
                        </div>
                    </div>
        
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input placeholder="India" name="listing[country]" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name Should be valid!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input placeholder="Maharashtra" name="listing[location]" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                       location Should be valid!
                    </div>
                </div>

                <div class="mb-3 d-flex align-items-center gap-2">
                    <label for="category" class="form-label mb-0">Choose a category:</label>
                    <select name="listing[category]" id="category" class="form-control w-auto" required>
                        <option disabled selected>Select a category</option>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="iconic-cities">Iconic Cities</option>
                        <option value="mountains">Mountains</option>
                        <option value="castles">Castles</option>
                        <option value="arctic-pools">Arctic Pools</option>
                        <option value="campings">Campings</option>
                        <option value="farms">Farms</option>
                        <option value="arctic">Arctic</option>
                        <option value="beachfront">BeachFront</option>
                        <option value="luxury">Luxury</option>
                    </select>
                </div>


                <button class="btn btn-dark add-btn">Add</button>
                <br><br><br>
            </form>
        </div>
    </div>
</body>
